:root {
  --primary: #efb6b2;
}
.editor {
  display: block;
  width: 50%;
  margin: 10rem auto;
  background-color: var(--primary);
  box-shadow: 3px 5px 7px rgba(134, 134, 134, 0.5);
  border: 1px solid white;
  border-radius: 5px;
}

.editor > input {
  display: block;
  width: 90%;
  margin: 1rem auto;
  padding: 0.3rem 0.3rem;
  border: none;
  font-size: 1rem;
  font-family: "Noto sherif";
  border-radius: 5px;
}

.editor button {
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-family: "Noto sherif";
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
}
