:root {
  --primary: #efb6b2;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(134, 133, 133, 0.5);
}
.error-message {
  width: 50%;
  background-color: var(--primary);
  margin: auto;
  text-align: center;
  margin-top: 10rem;
  padding-bottom: 0.8rem;
  border-radius: 10px;
  font-family: "Noto sherif";
  color: #ffffff;
}

.error-message button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  .editor {
    width: 90%;
  }
}
