@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles */
body {
  width: 80%;
  margin: auto;
  font-family: "Noto Serif";
  color: var(--secondary);
  min-height: 100vh;
}

.App {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
}

@media screen and (max-width: 800px) {
  body {
    width: 95%;
  }
}

@media screen and (max-width: 450px) {
  body {
    width: 98%;
  }
}
