@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
}

/* base styles & title */
body {
  width: 50%;
  margin: auto;
  font-family: "Noto Serif";
  color: var(--secondary);
  min-height: 100vh;
}
.App {
  max-width: 960px;
  margin: 0 auto;
  min-height: 100vh;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__personal {
  display: flex;
  align-items: center;
}

.title h1 {
  color: var(--primary);
  font-size: 1.2rem;
  letter-spacing: 2px;
  font-weight: normal;
}

.title button {
  width: 5rem;
  height: 2rem;
  background-color: var(--primary);
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-family: "Noto sherif";
}

.title button:nth-child(odd) {
  margin-right: 1rem;
  background-color: #f1f1f1;
  color: gray;
}

.title button:nth-child(odd):hover {
  margin-right: 1rem;
  background-color: var(--primary);
  color: #ffffff;
}

.title button:hover {
  background-color: #f1f1f1;
  color: gray;
}

.title h2,
.title p {
  text-align: center;
}
.title h2 {
  margin-top: 60px;
  font-size: 2.6rem;
}

/* upload form styles */
form {
  margin: 30px auto 10px;
  text-align: center;
}

.input-section > input {
  border: none;
  background-color: #d1d1d1;
  width: 94%;
  padding: 0.7rem 0.3rem;
  color: #000000;
  border-radius: 5px;
  font-size: 1rem;
  font-family: "Noto sherif";
}

input[type="text"] {
  outline: none;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}
label {
  display: block;
  width: 30px;
  height: 30px;
  border: 1px solid var(--primary);
  border-radius: 50%;
  margin: 10px auto;
  line-height: 30px;
  color: var(--primary);
  font-weight: bold;
  font-size: 24px;
}
label:hover {
  background: var(--primary);
  color: white;
}
.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 40px;
}

.gird {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.post-section {
  border: 1px solid var(--primary);
}
.img-wrap {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  position: relative;
  opacity: 0.8;
  margin: 2px;
}
.img-wrap img {
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

.update-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 0.2rem;
  margin-left: 0.7rem;
  margin-right: 0.7rem;
}

.delete-icon {
  color: #000000;
  cursor: pointer;
}

.edit-icon {
  color: #000000;
  cursor: pointer;
  margin-right: 0.5rem;
}

.favourite-icon {
  cursor: pointer;
}

.favourite-icon:hover {
  color: var(--primary);
}

.post-section p {
  margin-left: 0.7rem;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(134, 133, 133, 0.5);
}
.backdrop img {
  display: block;
  max-width: 60%;
  max-height: 80%;
  margin: 60px auto;
  box-shadow: 3px 5px 7px rgba(134, 134, 134, 0.5);
  border: 3px solid white;
}

.footer {
  background-color: var(--primary);
  color: white;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 0.1rem 0rem;
}

/* Edit Modal */

.editor {
  display: block;
  width: 50%;
  margin: 10rem auto;
  background-color: var(--primary);
  box-shadow: 3px 5px 7px rgba(134, 134, 134, 0.5);
  border: 1px solid white;
  border-radius: 5px;
}

.editor > input {
  display: block;
  width: 90%;
  margin: 1rem auto;
  padding: 0.3rem 0.3rem;
  border: none;
  font-size: 1rem;
  font-family: "Noto sherif";
  border-radius: 5px;
}

.editor button {
  font-size: 1rem;
  margin-top: 10px;
  margin-left: 2rem;
  margin-bottom: 1rem;
  font-family: "Noto sherif";
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 0.5rem 1rem;
}

/* Authentication */
.backdropp {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(85, 82, 82, 0.5);
}

.authentication {
  display: block;
  width: 50%;
  margin: 10rem auto;
  background-color: var(--primary);
  box-shadow: 3px 5px 7px rgba(134, 134, 134, 0.5);
  border: 1px solid white;
  border-radius: 5px;
}

.close-icon {
  margin-right: 1rem;
  margin-top: 0.6rem;
  float: right;
  cursor: pointer;
}

.authentication h3 {
  text-align: center;
}

.authentication input {
  display: block;
  width: 90%;
  margin: auto;
  padding: 0.3rem 1rem;
  margin-bottom: 10px;
  font-size: 1rem;
  font-family: "Noto sherif";
  border: none;
  border-radius: 5px;
}

.authentication input:focus {
  outline: none;
}

.authentication button {
  display: block;
  font-size: 1rem;
  width: 95%;
  margin: auto;
  padding: 0.5rem 1rem;
  margin-bottom: 20px;
  border-radius: 5px;
  border: none;
  font-family: "Noto sherif";
  cursor: pointer;
}

.auth-text {
  color: #ffffff;
  text-align: center;
}

.authentication button:hover {
  background-color: #817c7c;
  color: #f1f1f1;
}

/* Error Modal */

.error-message {
  width: 50%;
  background-color: var(--primary);
  margin: auto;
  text-align: center;
  margin-top: 10rem;
  padding-bottom: 0.8rem;
  border-radius: 10px;
  font-family: "Noto sherif";
  color: #ffffff;
}

.error-message button {
  border: none;
  padding: 0.5rem 1rem;
  font-size: 0.8rem;
  background-color: #fff;
  border-radius: 5px;
  cursor: pointer;
}

@media screen and (max-width: 800px) {
  body {
    width: 95%;
  }
  .authentication {
    width: 90%;
  }
  .authentication input {
    width: 80%;
  }
  .authentication button {
    width: 85%;
  }
  .editor {
    width: 90%;
  }
}

@media screen and (max-width: 450px) {
  body {
    width: 98%;
  }
}

@media screen and (max-width: 280px) {
  .header__personal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .title button:nth-child(odd) {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
